body {
    margin: 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Palanquin", sans-serif;
    color: rgb(54, 53, 52);
    font-size: 18px;
}

header {
    background-color: rgba(231, 108, 31, 1);
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

nav {
    max-width: 1920px;
    min-width: 1600px;
    margin-right: 60px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerlogo {
    width: 95px;
}

.menubar {
    width: 55px;
}

.homepage {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    padding-bottom: 80px;
}

.hero {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.logo-burger {
    width: 200px;
    margin-top: -8%;
}

.title {
    display: flex;
    align-items: center;
    gap: 30px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h1 span {
    color: rgb(231, 108, 31);
}

.reviewcontainer {
    background-color: rgba(250, 202, 172, 1);
    border-radius: 4px;
    height: 32px;
    color: rgba(114, 109, 109, 1);
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 7px;
}

.reviewcontainer img {
    width: 24px;
    height: 23px;
}

strong {
    color: rgb(54, 53, 52);
    font-size: 20px;
}

h3 {
    font-size: 24px;
    margin: 0;
}



.dishsections {
    width: 100%;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.sectiontitlecontainer {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: rgba(231, 108, 31, 1);
}


.sectiontitlecontainer img {
    height: 90px;
    margin-top: -27px;
}

h2 {
    margin: 0;
    align-self: center;
    color: white;
    font-size: 40px;
}

.sectiontitlecontainer span {
    display: flex;
    gap: 30px;
    max-width: 1920px;
    width: 1920px;
    padding-left: 120px;
}

footer {
    background-color: rgba(231, 108, 31, 1);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    color: white;
    padding-top: 28px;
}

article {
    align-self: center;
    max-width: 1920px;
    min-width: 1600px;
}

figure {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    background-color: rgba(253, 234, 220, 1);
    border-radius: 12px;
    gap: 30px;
    width: 825px;
    padding: 15px;
}

figure img {
    width: 200px;
}

figure div {
    display: flex;
    gap: 15px;
}

h4 {
    font-size: 24px;
    margin: 0;
}

figcaption {
    font-size: 16px;
}

figure button {
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    color: black;
}

.priceandbutton {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}