/*body*/
body {
    margin: 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Palanquin", sans-serif;
    color: rgb(54, 53, 52);
    font-size: 18px;
}

.hidden {
    overflow: hidden;
}


/*header*/
header {
    background-color: rgba(231, 108, 31, 1);
    width: 100%;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    max-width: 1700px;
    width: 90%;
    margin-right: 60px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.headerlogo {
    width: 95px;
}

.menubar {
    width: 55px;
}


/*main*/
main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    max-width: 1920px;
}

.content {
    width: calc(100% - 430px);
    margin-right: -20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*homepage*/
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    gap: 15px;
    padding-bottom: 130px;
}

.hero {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.logo-burger {
    width: 200px;
    margin-top: -8%;
}

.title {
    display: flex;
    align-items: center;
    gap: 30px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h1 span {
    color: rgb(231, 108, 31);
}

.reviewcontainer {
    background-color: rgba(250, 202, 172, 1);
    border-radius: 4px;
    height: 32px;
    color: rgba(114, 109, 109, 1);
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 7px;
}

.reviewcontainer img {
    width: 24px;
    height: 23px;
}

strong {
    color: rgb(54, 53, 52);
    font-size: 20px;
}

h2 {
    font-size: 24px;
    margin: 0;
}

/*dishsections*/
.dishsections {
    width: 100%;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.sectiontitlecontainer {
    position: absolute;
    width: 100%;
    align-self: center;
    right: 0;
    display: flex;
    justify-content: center;
    padding-right: 400px;
    height: 60px;
    margin-top: -70px;
    background-color: rgba(231, 108, 31, 1);
}

.sectiontitlecontainer img {
    height: 90px;
    margin-top: -27px;
}

h3 {
    margin: 0;
    align-self: center;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: row;
}


.sectiontitlecontainer span {
    display: flex;
    gap: 30px;
    max-width: 1920px;
}


/*footer*/
footer {
    background-color: rgba(231, 108, 31, 1);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    color: white;
    padding-top: 28px;
}


/*dialog*/
dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(54, 53, 52, 1);
    color: rgba(253, 234, 220, 1);
    font-size: 29px;
    gap: 15px;
    border: none;
    text-align: center;
    border-radius: 30px;
    padding: 40px;
}

dialog h2 {
    color: rgba(253, 234, 220, 1);
    font-size: 42px;
}

dialog p {
    margin: 0;
}

dialog img {
    width: 80px;
}

dialog button {
    background: none;
    border: none;
    padding-block: 0;
    padding-inline: 0;
    align-self: flex-end;
    cursor: pointer;
    transition: all 0.3s;
}

dialog button:hover {
    scale: 1.1;
}

dialog button img {
    width: 16px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.548);
}

/*media*/
@media (max-width: 1470px) {

    /*Header*/
    header {
        height: 100px;
    }

    nav {
        max-width: 1440px;
    }

    .headerlogo {
        width: 80px;
    }

    .menubar {
        width: 40px;
    }

    /*main*/
    main {
        flex-grow: 1;
        max-width: 1470px;
    }

    .content {
        width: calc(100% - 380px);
        margin-right: -20px;
    }

    /*homepage*/
    .homepage {
        padding-bottom: 120px;
    }

    .logo-burger {
        width: 160px;
    }

    h1 {
        font-size: 40px;
    }

    .title {
        gap: 15px;
    }

    .reviewcontainer {
        height: 30px;
        padding: 5px;
        gap: 5px;
    }

    .reviewcontainer img {
        width: 20px;
        height: 19px;
    }

    strong {
        font-size: 18px;
    }

    h2 {
        font-size: 20px;
        margin: 0;
    }

    /*dishsections*/
    .sectiontitlecontainer {
        padding-right: 200px;
    }

    .sectiontitlecontainer span {
        gap: 15px;
    }

    /*footer*/
    footer {
        height: 80px;
    }
}


@media (max-width: 1230px) {
    main {
        max-width: 1230px;
        flex-direction: column;
        height: 100%;
    }

    .content {
        width: 100%;
        height: 100%;
        margin-right: 0;
    }

    .basketdisplay {
        display: none !important;
    }

    /*header*/
    nav {
        max-width: 1230px;
    }

    /*main*/
    .homepage {
        max-width: 1230px;
    }

    .sectiontitlecontainer {
        padding-right: 0;
        position: unset;
    }

    .sectiontitlecontainer span {
        max-width: 1230px;
    }

    /*footer*/
    footer {
        margin-bottom: 80px;
    }
}


@media (max-width: 640px) {

    /*Header*/
    header {
        height: 80px;
    }

    nav {
        max-width: 640px;
    }

    .headerlogo {
        width: 80px;
    }

    .menubar {
        display: none;
    }

    /*main*/

    /*homepage*/
    .homepage {
        max-width: 640px;
        padding-bottom: 140px;
    }

    .hero {
        width: 90%;
        height: 320px;
        border-radius: 15px;
        margin-top: 15px;
    }

    .logo-burger {
        width: 130px;
        margin-top: -85px;
    }

    .title {
        flex-direction: column-reverse;
    }

    .reviewcontainer {
        height: 25px;
        padding: 5px;
        gap: 5px;
    }

    .reviewcontainer img {
        width: 20px;
        height: 19px;
    }

    strong {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;

    }


    /*dishsections*/
    .sectiontitlecontainer span {
        gap: 0;
        max-width: 640px;
        flex-direction: column;
        align-items: center;
    }

    .sectiontitlecontainer img {
        width: 58px;
        height: 60px;
        margin-top: -45px;
    }

    h3 span {
        display: none !important;
    }

    h3 {
        margin-block: 0;
        align-self: unset;
        font-size: 32px;
    }

    /*footer*/
    footer {
        flex-direction: column;
        gap: 10px;
        padding: 0;
        height: 128px;
    }

    footer p {
        margin: 0;
    }

    /*dialog*/
    dialog[open] {
        font-size: 24px;
        width: 220px;
    }

    dialog h2 {
        font-size: 38px;
    }
}