body {
    margin: 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Palanquin", sans-serif;
    color: rgb(54, 53, 52);
}

header {
    background-color: rgba(231, 108, 31, 1);
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

nav {
    max-width: 1920px;
    width: 1920px;
    margin-right: 60px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerlogo {
    width: 95px;
}

.menubar {
    width: 55px;
}

.homepage {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    padding-bottom: 60px;
}

.hero {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.logo-burger {
    width: 200px;
    margin-top: -8%;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h1 span {
    color: rgb(231, 108, 31);
}

h3 {
    font-size: 24px;
    margin: 0;
}



.dishsections {
    width: 100%;
    padding-bottom: 60px;
}

.sectiontitlecontainer {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: rgba(231, 108, 31, 1);
}

.sectiontitlecontainer img {
    height: 90px;
    margin-top: -27px;
}

h2 {
    margin: 0;
    align-self: center;
    color: white;
    font-size: 40px;
}

.sectiontitlecontainer span {
    display: flex;
    gap: 30px;
    max-width: 1920px;
    width: 1920px;
    padding-left: 120px;
}

footer {
    background-color: rgba(231, 108, 31, 1);
    height: 128px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}