/*body*/
body {
    margin: 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Palanquin", sans-serif;
    color: rgb(54, 53, 52);
    font-size: 18px;
}


/*header*/
header {
    background-color: rgba(231, 108, 31, 1);
    width: 100%;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    max-width: 1920px;
    min-width: 1600px;
    margin-right: 60px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.headerlogo {
    width: 95px;
}

.menubar {
    width: 55px;
}


/*main*/
main {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    width: 100%;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*homepage*/ 
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    gap: 15px;
    padding-bottom: 80px;
}

.hero {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.logo-burger {
    width: 200px;
    margin-top: -8%;
}

.title {
    display: flex;
    align-items: center;
    gap: 30px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h1 span {
    color: rgb(231, 108, 31);
}

.reviewcontainer {
    background-color: rgba(250, 202, 172, 1);
    border-radius: 4px;
    height: 32px;
    color: rgba(114, 109, 109, 1);
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 7px;
}

.reviewcontainer img {
    width: 24px;
    height: 23px;
}

strong {
    color: rgb(54, 53, 52);
    font-size: 20px;
}

h3 {
    font-size: 24px;
    margin: 0;
}

/*dishsections*/ 
.dishsections {
    width: 100%;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.sectiontitlecontainer {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: rgba(231, 108, 31, 1);
}

.sectiontitlecontainer img {
    height: 90px;
    margin-top: -27px;
}

h2 {
    margin: 0;
    align-self: center;
    color: white;
    font-size: 40px;
}

.sectiontitlecontainer span {
    display: flex;
    gap: 30px;
    max-width: 1920px;
}


/*footer*/ 
footer {
    background-color: rgba(231, 108, 31, 1);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    color: white;
    padding-top: 28px;
}