/*basket*/
.basketsection {
    width: 100%;
    max-width: 1920px;
    height: 700px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 128px;
    right: 0;
    margin: 0;
    left: 50%;
    transform: translate(-50%);
}

.basket {
    background-color: rgb(54, 53, 52);
    width: 450px;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(253, 234, 220);
    font-size: 24px;
    gap: 60px;
}

.basket figure {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.basketDish {
    background-color: rgba(250, 202, 172, 1);
    color: rgb(54, 53, 52);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h6 {
    margin: 0;
}

h5 {
    font-size: 32px;
    margin: 0;
    margin-top: 60px;
}

.basket p {
    text-align: center;
    margin: 0;
}

.basket img {
    width: 128px;
}

.basket button {
    background: none;
    border: none;
    cursor: pointer;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.displayflex {
    display: flex;
}

.displaynone {
    display: none;
}