/*dishes*/
article {
    align-self: center;
    max-width: 1920px;
}

article figure {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    background-color: rgba(253, 234, 220, 1);
    border-radius: 12px;
    gap: 30px;
    width: 825px;
    padding: 15px;
}

article figure img {
    width: 200px;
}

article div {
    display: flex;
    gap: 15px;
}

h4 {
    font-size: 24px;
    margin: 0;
}

article figcaption {
    font-size: 16px;
}

article figure button {
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    color: black;
    font-weight: 600;
    z-index: 100;
}

.priceandbutton {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

article figure button:hover {
    color: rgba(231, 108, 31, 1);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}

.orange {
    color: rgba(231, 108, 31, 1);
}